= button_to 'All Books', books_path, :method =>:get, :id => 'allbooks'
%h1 #{session[:session_token]}'s Books
= button_to 'Add Book', new_book_path, :method =>:get, :id => 'addbook'

%table#books
    %tbody
    - @books.each do |book|
        %tr
            %td=image_tag asset_path(book.image), :size => '150x200'
            %td{:rowspan => 1}
                %b Title:
                =book.title
                %br
                %b Author:
                =book.author
                %br
                %b ISBN:
                =book.isbn
                %br
                %b Quality:
                =book.quality
                %br
                %b Price:
                =book.price
            %td=button_to 'Edit', edit_book_path(book), :method => :get
            %td=button_to 'Delete', book_path(book), :method => :delete, :confirm => 'Are you sure?'
        